div{
    border-style: solid;
    border-width: 3px;
    border-color: darkmagenta;
    padding: 64px;
}
body{
    background-color: white;
}

.container{
    border-color: red;
}
.row{
    border-color: red;
}
.list-group-item{
    border: 0;
    margin-top: 48px;
    margin-bottom: 48px;
}
img screenshot2{
    width: 360px;
    height: auto;