div{
    border-style: solid;
    border-width: 3px;
    border-color: red;
    padding: 32px;
}
body{
    background-color: white;
}

.container{
    border-color: red;
}
.row{
    border-color: red;
}
.list-group-item{
    border: 0;
    margin-top: 48px;
    margin-bottom: 48px;
}
img{
    width: 360px;
    height: auto;
}
div container{
    padding: 48px;
}
.nav a{
    font-size: 16px;
    color: red;
    padding-top: 16px;
}
div col-xs-9{
    padding-right: 10px;
}
.div jumbotron{
    color: red;
}